<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>旅行投稿フォーム</title>
</head>
<body>

    <h1>ようこそ、{{ username }} さん！</h1>

    <a href="{{url_for('home.home')}}">ホームに戻る</a>

    <h1>旅の投稿</h1>
    <form method="POST" action="/input" enctype="multipart/form-data">
        <label for="title">タイトル:</label><br>
        <input type="text" id="title" name="title" maxlength="25" required><br><br>
    
        <label for="location">場所:</label><br>
        <input type="text" id="location" name="location" maxlength="25" required><br><br>
    
        <label for="human_number">人数:</label><br>
        <input type="number" id="human_number" name="human_number" min="1" required><br><br>
    
        <label for="overview">概要:</label><br>
        <textarea id="overview" name="overview" rows="4" cols="40" maxlength="500"></textarea><br><br>
    
        <label for="start_date">旅行開始日:</label><br>
        <input type="date" id="start_date" name="start_date" required><br><br>
    
        <label for="end_date">旅行終了日:</label><br>
        <input type="date" id="end_date" name="end_date" required><br><br>

        <label for="image">画像を選択</label>
        <input type="file" name="image" id="image" accept="image/*">

        <input type="submit" value="登録">
    </form>
    
    
    
</body>
</html>
