<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>地図ページ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- LeafletのCSSとJS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <style>
        #map {
            height: 1000px;
            width: 100%;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <!-- ヘッダー -->
    <div class="header-top">
        <h1 class="welcome-msg">旅行記録ブログ</h1>
        <div class="user-actions">
            <h1 class="welcome-msg">ようこそ、{{ username }} さん！</h1>
            <a href="{{ url_for('users_data.users_data') }}">ユーザー情報</a>
            <a href="{{ url_for('auth.logout') }}">ログアウト</a>
        </div>
    </div>

    <!-- ナビゲーション -->
    {% set current = request.endpoint %}
    <div class="nav-links">
        <a href="{{ url_for('home.home') }}" class="{% if current == 'home.home' %}active{% endif %}">ホーム</a>
        <a href="{{ url_for('my_travel.my_travel') }}"
            class="{% if current == 'my_travel.my_travel' %}active{% endif %}">MYトラベル</a>
        <a href="{{ url_for('locations.locations') }}"
            class="{% if current == 'locations.locations' %}active{% endif %}">地図で旅行先を見る</a>
        <a href="{{ url_for('input.input') }}"
            class="{% if current == 'input.input' %}active{% endif %}">別ページで旅を投稿する</a>
        <a href="{{ url_for('bookmark.bookmark') }}"
            class="{% if current == 'bookmark.bookmark' %}active{% endif %}">ブックマーク</a>
    </div>

    <!-- 地図の表示エリア -->
    <div id="map" data-locations='{{ locations | tojson }}'></div>

    <!-- 外部JSファイルの読み込み -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

</body>

</html>