<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホームページ</title>
    <!-- 外部CSSを読み込む -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- ユーザー名を表示 -->
    <h1>ようこそ、{{ username }} さん！</h1>

    <div class="nav-links">
        <a href="{{url_for('my_travel.my_travel')}}">MYトラベルページに戻る</a>
    </div>


    <h1>{{ travel.t_title }} の詳細情報</h1>
    <p><strong>場所:</strong> {{ travel.t_location }}</p>
    <p><strong>人数:</strong> {{ travel.human_number }}人</p>
    <p><strong>概要:</strong> {{ travel.overview }}</p>
    <p><strong>開始日:</strong> {{ travel.start_date }}</p>
    <p><strong>期間:</strong> {{ travel.duration_days }}日間</p>
    <p><strong>作成者:</strong> {{ travel.username }}</p>


</body>
</html>
